<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="ai.moonshine.voice" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".SmolChatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmolLMAndroid"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.manage_asr.ManageASRActivity"
            android:exported="false"
            android:label="@string/title_activity_app_settings"
            android:theme="@style/Theme.SmolLMAndroid" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmolLMAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.chat.ChatActivity"
            android:exported="true"
            android:label="💬 LLM">

            <!-- This intent-filter is used to receive text from other apps -->
            <!-- The received text is then sent to a new chat -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.screens.model_download.DownloadModelActivity" />
        <activity android:name=".ui.screens.manage_tasks.ManageTasksActivity" />
    </application>

</manifest>